<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.cnpc.cpoa.mapper.BizSysConfigMapper">
    <resultMap id="BaseResultMap" type="cn.com.cnpc.cpoa.domain.BizSysConfigDto">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="CFG_ID" jdbcType="VARCHAR" property="cfgId"/>
        <result column="CFG_CODE" jdbcType="VARCHAR" property="cfgCode"/>
        <result column="CFG_NAME" jdbcType="VARCHAR" property="cfgName"/>
        <result column="CFG_VALUE" jdbcType="VARCHAR" property="cfgValue"/>
        <result column="CFG_NOTE" jdbcType="VARCHAR" property="cfgNote"/>
        <result column="CFG_TYPE" jdbcType="VARCHAR" property="cfgType"/>
    </resultMap>
    <!--查询合同类别-->
    <select id="selectList" parameterType="java.util.Map" resultMap="BaseResultMap">
        select * from T_SYS_CONFIG TSC
        <where>
            <if test="cfgCode!=null and cfgCode!=''">
                AND TSC.CFG_CODE =#{cfgCode}
            </if>

            <if test="cfgTypes!=null and cfgTypes.size() > 0">
                AND TSC.CFG_TYPE in
                <foreach collection="cfgTypes" item="cfgType" open="(" close=")" separator=",">
                    #{cfgType, jdbcType=VARCHAR }
                </foreach>
            </if>

        </where>

    </select>

</mapper>